@charset "utf-8";
@import "normalize";

body {
  background: white;
  text-align: left;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}



#id1{
background-color: lightsteelblue;;
width: 500px;

}
